@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.delius-swash-caps-regular {
    font-family: "Delius Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .delius-swash-caps-regular {
    font-family: "Delius Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
  }
  